<div class="jumbo">
  <div class="right tomster"></div>
  <h2>Welcome!</h2>
  <p>Oi Serginho quer TC???.</p>
  {{#link-to 'about' class="button"}}
    About Us
  {{/link-to}}
</div>

{{#each model as |rentalUnit|}}
  {{rental-listing rental=rentalUnit}}
{{/each}}

{{outlet}}